@model Conferencia
@{
    ViewData["Title"] = "Editar Conferências";
}


<h1 class="display-4">Editar Conferência</h1>

<form asp-controller="Conferencia" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome da conferência">
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="trilha">Trilha</label>
        <input type="trilha" asp-for="Trilha" class="form-control" placeholder="Digite a trilha da conferência">
        @Html.ValidationMessageFor(model => model.Trilha, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="celular">Tempo</label>
        <input type="text" asp-for="Tempo" class="form-control" placeholder="Digite o tempo da conferência">
        @Html.ValidationMessageFor(model => model.Tempo, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Conferencia" asp-action="Index" role="button">Voltar</a>

</form>

